BikeRental.ClientApp/Connected Services/BikeRentalService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BikeRentalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BikeRental.Data.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBikeRentalService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_AddBike_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBike" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_AddBike_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBikeResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_AddRent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRent" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_AddRent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRentResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_GetUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserID" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_GetUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_ReturnBike_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBike" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_ReturnBike_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBikeResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_AddRepairOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRepairOrder" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_AddRepairOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRepairOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_AddRepair_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRepair" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_AddRepair_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRepairResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_GetAllBikes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBikes" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_GetAllBikes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBikesResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_GetAllRents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRents" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_GetAllRents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRentsResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_GetAllRepairOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRepairOrders" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_GetAllRepairOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRepairOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_GetAllRepairs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRepairs" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_GetAllRepairs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRepairsResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_GetRentsByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRentsByUser" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_GetRentsByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRentsByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_GetRepairOrdersByBike_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRepairOrdersByBike" />
  </wsdl:message>
  <wsdl:message name="IBikeRentalService_GetRepairOrdersByBike_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRepairOrdersByBikeResponse" />
  </wsdl:message>
  <wsdl:portType name="IBikeRentalService">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeRentalService/AddUser" message="tns:IBikeRentalService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeRentalService/AddUserResponse" message="tns:IBikeRentalService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeRentalService/Login" message="tns:IBikeRentalService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeRentalService/LoginResponse" message="tns:IBikeRentalService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBike">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeRentalService/AddBike" message="tns:IBikeRentalService_AddBike_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeRentalService/AddBikeResponse" message="tns:IBikeRentalService_AddBike_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRent">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeRentalService/AddRent" message="tns:IBikeRentalService_AddRent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeRentalService/AddRentResponse" message="tns:IBikeRentalService_AddRent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeRentalService/GetUserID" message="tns:IBikeRentalService_GetUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeRentalService/GetUserIDResponse" message="tns:IBikeRentalService_GetUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnBike">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeRentalService/ReturnBike" message="tns:IBikeRentalService_ReturnBike_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeRentalService/ReturnBikeResponse" message="tns:IBikeRentalService_ReturnBike_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRepairOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeRentalService/AddRepairOrder" message="tns:IBikeRentalService_AddRepairOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeRentalService/AddRepairOrderResponse" message="tns:IBikeRentalService_AddRepairOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRepair">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeRentalService/AddRepair" message="tns:IBikeRentalService_AddRepair_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeRentalService/AddRepairResponse" message="tns:IBikeRentalService_AddRepair_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBikes">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeRentalService/GetAllBikes" message="tns:IBikeRentalService_GetAllBikes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeRentalService/GetAllBikesResponse" message="tns:IBikeRentalService_GetAllBikes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRents">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeRentalService/GetAllRents" message="tns:IBikeRentalService_GetAllRents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeRentalService/GetAllRentsResponse" message="tns:IBikeRentalService_GetAllRents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRepairOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeRentalService/GetAllRepairOrders" message="tns:IBikeRentalService_GetAllRepairOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeRentalService/GetAllRepairOrdersResponse" message="tns:IBikeRentalService_GetAllRepairOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRepairs">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeRentalService/GetAllRepairs" message="tns:IBikeRentalService_GetAllRepairs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeRentalService/GetAllRepairsResponse" message="tns:IBikeRentalService_GetAllRepairs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRentsByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeRentalService/GetRentsByUser" message="tns:IBikeRentalService_GetRentsByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeRentalService/GetRentsByUserResponse" message="tns:IBikeRentalService_GetRentsByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRepairOrdersByBike">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeRentalService/GetRepairOrdersByBike" message="tns:IBikeRentalService_GetRepairOrdersByBike_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeRentalService/GetRepairOrdersByBikeResponse" message="tns:IBikeRentalService_GetRepairOrdersByBike_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBikeRentalService" type="tns:IBikeRentalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IBikeRentalService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IBikeRentalService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBike">
      <soap:operation soapAction="http://tempuri.org/IBikeRentalService/AddBike" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRent">
      <soap:operation soapAction="http://tempuri.org/IBikeRentalService/AddRent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <soap:operation soapAction="http://tempuri.org/IBikeRentalService/GetUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnBike">
      <soap:operation soapAction="http://tempuri.org/IBikeRentalService/ReturnBike" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRepairOrder">
      <soap:operation soapAction="http://tempuri.org/IBikeRentalService/AddRepairOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRepair">
      <soap:operation soapAction="http://tempuri.org/IBikeRentalService/AddRepair" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBikes">
      <soap:operation soapAction="http://tempuri.org/IBikeRentalService/GetAllBikes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRents">
      <soap:operation soapAction="http://tempuri.org/IBikeRentalService/GetAllRents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRepairOrders">
      <soap:operation soapAction="http://tempuri.org/IBikeRentalService/GetAllRepairOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRepairs">
      <soap:operation soapAction="http://tempuri.org/IBikeRentalService/GetAllRepairs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRentsByUser">
      <soap:operation soapAction="http://tempuri.org/IBikeRentalService/GetRentsByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRepairOrdersByBike">
      <soap:operation soapAction="http://tempuri.org/IBikeRentalService/GetRepairOrdersByBike" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BikeRentalService">
    <wsdl:port name="BasicHttpBinding_IBikeRentalService" binding="tns:BasicHttpBinding_IBikeRentalService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/BikeRental.Service/BikeRentalService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>